body {
  background-color: #b9b4b4;
}

div {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

p, button {
  font-size: 15em;
}

button {
  width: 50%;
  height: 300px;
  color: white;
  text-align: center;
  background-color: #4e4a4a;
  border: 20px solid #cecaca;
  border-radius: 10px;
}